module.exports = {
    adminAuth: {
        type: "credentials",
        users: [
            {
                username: "{{username}}",
                password: "{{password}}",
                permissions: "*"
            }
        ]
    },
    httpNodeAuth: { user: "{{username}}", pass: "{{password}}" },
    httpRoot: "{{http_root}}"
}