{{#mosquitto.users}}
{{username}}:{{password}}
{{/mosquitto.users}}
{{mosquitto.localusers.telegraf.username}}:{{mosquitto.localusers.telegraf.password}}
{{mosquitto.localusers.nodered.username}}:{{mosquitto.localusers.nodered.password}}